*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
}

#container{
    text-align: center;
    width: 500px;
}

#container div input{
    width: 250px;
    padding: 10px 15px;
}

#container div button{
    width: 100px;
    padding: 10px 5px;
    cursor: pointer;
    color: rgb(2, 2, 12);
    background-color: blue;
    font-size: 15px;
    font-size: 15px;
    font-weight: bold;
}

#container h1{
    padding: 40px;
}

#container ul{
    list-style: none;
    padding: 50px;
}

#container ul li {
    font-size: 20px;
    cursor: pointer;
    padding: 5px;
    margin: 5px;
    background-color: rgb(19, 3, 76);
    border-radius: 10px;
    color: white;
}

.feito{
    text-decoration: line-through;
}