.form {
  height: 360px; /* Altura fixa para desktop */
  width: 100%; /* Ocupa toda a largura disponível */
  background-image: url('https://github.com/glauccoslima/servidor_estaticos/blob/main/img110823.jpg?raw=true'); /* Imagem de fundo */
  background-size: cover; /* Faz com que a imagem de fundo cubra todo o espaço disponível */
  position: relative; /* Define uma posição relativa para posicionar elementos internos */
  display: flex; /* Usa flexbox para alinhar elementos filhos */
  align-items: center; /* Centraliza verticalmente os elementos filhos */
}

/* Define estilos para a div dentro do Hero, usada como contêiner para o título */
.form div {
  position: relative; /* Posição relativa dentro do pai flex */
  color: #ffffff; /* Cor de texto branca */
}